cookie_secret = "abcdefghijklmnopqrstuvwxyz1234567890"
# this secret is configured in Discourse, "discourse connect provider secret"
# for development, a secret for "localhost" exists.
# but then be sure to access your dev server using localhost:5000, not 127.0.0.1:5000
discourse_sso_secret = "abcdefghijklmnopqrstuvwxyz1234567890"
discourse_sso_endpoint = "https://forum.yunohost.org/session/sso_provider"
callback_url_after_login_on_discourse = "http://localhost:5000/sso_login_callback"
github_login = "yunohost-bot"
github_email = "yunohost [at] yunohost.org" # Replace the [at] by actual @
github_token = "superSecretToken"
apps_cache = "../.apps_cache/"
